{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="reset_password_done">
    <h1>パスワードをお忘れの方へ</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>パスワード再設定用のメールを送信しました。受信できなかった場合は、迷惑メールフォルダーも確かめてみてください。それでも受け取れなかった場合は、<a href="{% url 'contact_form' %}">こちら</a>からお問い合わせください。</p>
    </div>
    {% endblock %}